<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

{% if site.owner.twitter %}<!-- Twitter Cards -->
{% if page.image.feature %}<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ site.url }}/images/{{ page.image.feature }}">
{% else %}<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{% if page.image.thumb %}{{ site.url }}/images/{{ page.image.thumb }}{% else %}{{ site.url }}/images/{{ site.logo }}{% endif %}">{% endif %}
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:creator" content="@{{ site.owner.twitter }}">{% endif %}

<!-- Open Graph -->
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.title }}">

{% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}
{% if site.bing_verify %}<meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
<link rel="canonical" href="{{ canonical }}">
<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- For all browsers -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
<!-- Webfonts -->
<link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css">

<meta http-equiv="cleartype" content="on">

<!-- Load Modernizr -->
<script src="{{ site.url }}/assets/js/vendor/modernizr-2.6.2.custom.min.js"></script>

<!-- Icons -->
<link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/images/icons/apple-touch-icon-57x57.png?v=201601231018443021">
<link rel="apple-touch-icon" sizes="60x60" href="{{ site.url }}/images/icons/apple-touch-icon-60x60.png?v=201601231018443021">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/images/icons/apple-touch-icon-72x72.png?v=201601231018443021">
<link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/images/icons/apple-touch-icon-76x76.png?v=201601231018443021">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/images/icons/apple-touch-icon-114x114.png?v=201601231018443021">
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/images/icons/apple-touch-icon-120x120.png?v=201601231018443021">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/images/icons/apple-touch-icon-144x144.png?v=201601231018443021">
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/images/icons/apple-touch-icon-152x152.png?v=201601231018443021">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/images/icons/apple-touch-icon-180x180.png?v=201601231018443021">
<link rel="icon" type="image/png" href="{{ site.url }}/images/icons/favicon-32x32.png?v=201601231018443021" sizes="32x32">
<link rel="icon" type="image/png" href="{{ site.url }}/images/icons/favicon-96x96.png?v=201601231018443021" sizes="96x96">
<link rel="icon" type="image/png" href="{{ site.url }}/images/icons/favicon-16x16.png?v=201601231018443021" sizes="16x16">
<link rel="manifest" href="{{ site.url }}/images/icons/manifest.json?v=201601231018443021">
<link rel="mask-icon" href="{{ site.url }}/images/icons/safari-pinned-tab.svg?v=201601231018443021" color="#5bbad5">
<link rel="shortcut icon" href="{{ site.url }}/favicon.ico?v=201601231018443021">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="{{ site.url }}/images/icons/mstile-144x144.png?v=201601231018443021">
<meta name="msapplication-config" content="{{ site.url }}/images/icons/browserconfig.xml?v=201601231018443021">
<meta name="theme-color" content="#ffffff">

{% if page.image.background or site.background %}
{% capture background %}{% if page.image.background %}{{ page.image.background }}{% else %}{{ site.background }}{% endif %}{% endcapture %}
{% unless background contains 'http://' or background contains 'https://' %}{% capture background %}{{ site.url }}/images/{{ background }}{% endcapture %}{% endunless %}
<style type="text/css">body {background-image:url({{ background }});}</style>
{% endif %}
